/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

/* Reset */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Custom Properties */
:root {
	/* colors primary */
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);

	/* colors neutral */
	--transparent-white: hsla(0, 0%, 100%, 0.75);
	--very-light-gray: hsl(0, 0%, 95%);
}

/* Typography */
h2 {
	font-family: "Big Shoulders Display", cursive;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 40px;
	color: var(--very-light-gray);
}

p {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	color: var(--transparent-white);
	line-height: 2;
}
a {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	text-decoration: none;
}

body {
	font-size: 15px;
	min-height: 100vh;
	background-color: var(--very-light-gray);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
	display: flex;
	width: 65%;
	border-radius: 10px;
	overflow: hidden;
}

/* Layout */

#sedans {
	background-color: var(--bright-orange);
}

#suvs {
	background-color: var(--dark-cyan);
}

#luxury {
	background-color: var(--very-dark-cyan);
}

img {
	max-width: 100%;
}

/* Padding and Spacing */

.section {
	padding: 2.5em 2em 3.5em 2.5em;
}

h2,
a {
	margin: 1em 0;
}

.text {
	margin-bottom: 8em;
}

a {
	background-color: var(--very-light-gray);
	padding: 0.75em 2em;
	border-radius: 50px;
}

/* Active States */
a:hover {
	border: 2px solid var(--very-light-gray);
	background-color: transparent;
	color: var(--very-light-gray) !important;
}

/* Responsive Layout */
/* Mobile Phones */
@media screen and (max-width: 575px) {
	.main {
		display: flex;
		flex-direction: column;
		margin: 3em auto;
		min-width: 80%;
	}

	.text {
		margin-bottom: 4em;
	}
}

/* Tablets*/
@media screen and (min-width: 575px) and (max-width: 768px) {
	.main {
		display: flex;
		flex-direction: column;
		margin: 3em auto;
		min-width: 80%;
	}

	.text {
		margin-bottom: 4em;
	}
}

/* Desktops and laptops */
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.main {
		display: flex;
		flex-direction: row;
		margin: 3em auto;
		min-width: 85%;
	}
}

/* Bigger screens */
@media screen and (min-width: 1439px) {
	.main {
		display: flex;
		flex-direction: row;
		margin: 3em auto;
		max-width: 65%;
	}
}
